{% extends "index.html" %}


{% block sidebar %}

	{% if request.user.is_authenticated %}
		<div style="height:50px;" name="login_div">
		{{request.user.username}}
		</div>
	{% endif %}

		<div style="height:50px;" name="login_div">
			Занятие N {{new_zanyatie.id}}
		</div>

	<p>{{now}}</p>


{% endblock %}	

{% block content%}

<form method="POST" action="/add_ypraznenie/">
	{% csrf_token %}
	<table>
		<tr>
			<td hidden> Занятие №</td>
			<td hidden><input type="text" name="zanyatie" value="{{new_zanyatie.id}}"  /></td>
		</tr>		

		<tr hidden>
			<td>Упражнение №</td>
			
				{% if next_pp %}	
					<td><input type="text" name="pp" value="{{next_pp.name}}" readonly />
				{% else %}						
					<td><input type="text" name="pp" value="Первое упражнение" readonly/></td>
				{% endif%}

			
		</tr>

		<tr>
			<td>Упражнение Тип</td>
			<td>
				<select name="tip">
				{%for tip in vid_treni_list %}
					<option value="{{tip.name}}" > {{tip.name}}</option>
				{% endfor %}
				</select>

			</td>
		</tr>

		<tr>
			<td>Упражнение Вид</td>
			<td>
				<select name="vid">
				{%for vid in vid_podhoda_list %}
					<option value="{{vid.name}}" > {{vid.name}}</option>
				{% endfor %}
				</select>

			</td>
		</tr>



	</table>
	<input type="submit" value="Сохранить"/>
</form>








		<table border="1">
					<td  style="font-weight:bold" > Занятие</td>
					<td  style="font-weight:bold" >№ Упражнения</td>
					<td  style="font-weight:bold" > Вид упражнения</td>
					<td  style="font-weight:bold" >Тип подхода</td>

			{% for ypr in yprazneniya_list %}
				<tr>
					
					<td>{{ypr.zanyatie}}</td>
					<td>{{ypr.pp_yprazneniya}}</td>					
					<td>{{ypr.vid_treni}}</td>
					<td>{{ypr.vid_podhoda}}</td>	


				</tr>
			{% empty %}
				<tr><td>Категорий нет</td></tr>
			{% endfor%}
		</table>	



{% endblock %}