{% extends "index.html" %}


{% block sidebar %}
<ul>
Добавлен элемент {{name}}

<form method="GET" action="save_vid_ypr/">
	<table>
		<tr>
			<td>Наименование</td>
			<td><input type="text" name="vid" /></td>
		</tr>
	</table>
	<input type="submit" value="Сохранить"/>

</form>

</ul>
{% endblock %}	

{% block content%}


		<table border="1">
					<td  style="font-weight:bold" > №</td>
					<td  style="font-weight:bold" >Вид упражнения</td>

			{% for trenya in vid_treni_list %}
				<tr>
					<td>{{trenya.id}}</td>
					<td>{{trenya.name}}</td>

				</tr>
			{% empty %}
				<tr><td>Категорий нет</td></tr>
			{% endfor%}
		</table>	


{% endblock %}