<html> 
	<body>
		<h1>
		  Список видов занятий
		</h1>	

		<table border="1">
			{% for vid in vid_podhoda_list %}
				<tr>
					
					<td>{{vid.name}}</td>


				</tr>
			{% empty %}
				<tr><td>Категорий нет</td></tr>
			{% endfor%}
		</table>	


	<div>
		<a href="/podhodi/"> Справочник Порядковый номер подхода</a>
	</div>

	<div>
		<a href="/ypr/"> Справочник номер Упражнения</a>
	</div>

	<div>
		<a href="/vid_podhoda/"> Справочник Видов подходов (Основная, легкая)</a>
	</div>

	<div>
		<a href="/vid_treni/"> Справочник Вид Упражнения</a>
	</div>


	</body>
</html>