{% extends "index.html" %}


{% block sidebar %}
<ul>
		<h1>
		  Список Занятий

		  {{request.user.username}}
		</h1>	
</ul>
{% endblock %}	

{% block content%}
		<h1>
		  Список Занятий
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  {{request.user.username}}
		</h1>	


		<table  class="table" border="1">
					<td width = 25,  style="font-weight:bold" > ID</td>
					<td  style="font-weight:bold" hidden >User</td>
					<td width = 250  style="font-weight:bold" > Дата </td>
					<td width = 250  style="font-weight:bold" > Редактировать </td>


			{% for item in vse_zanyatiya_list %}
				<tr>
					
					<td width = 25 ><a href="/zanyatiya/get/{{item.id}}/">{{item.id}}</a></td>
					<td hidden >{{item.user}}</td>					
					<td width = 250 >{{item.date}}</td>					
					<td width = 250 >
						<a href="/zanyatiya/get/{{item.id}}/"> Редактировать</a>
						 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="/zanyatie/delete/{{item.id}}"> Удалить Занятие </a>

					</td>

				</tr>
			{% empty %}
				<tr><td>Категорий нет</td></tr>
			{% endfor%}

		<br>

		</table>	
		<br>
		<br>
		<br>
		<br>
		<br>	
		
		<h1>
		  Список Архивных Занятий
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  
		</h1>	


		<table  class="table"  border="1">
			<tr>
					<td width = 25,  style="font-weight:bold" > ID</td>
					<td  style="font-weight:bold" hidden >User</td>
					<td width = 250  style="font-weight:bold" > Дата </td>
					<td width = 250  style="font-weight:bold" > Редактировать </td>
			</tr>
			{% for item in vse_zanyatiya_archive %}
				<tr style="color:grey">
					
					<td width = 25 ><a href="/zanyatiya/get/{{item.id}}/">{{item.id}}</a></td>
					<td hidden >{{item.user}}</td>					
					<td width = 250 >{{item.date}}</td>					
					<td width = 250 >
						<a href="/zanyatiya/get/{{item.id}}/"> Редактировать</a>
						 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="/zanyatie/recover/{{item.id}}"> Восстановить Занятие </a>

					</td>

				</tr>
			{% empty %}
				<tr  style="color:grey"><td>Архивных занятий нет</td></tr>
			{% endfor%}
		</table>	

{% endblock %}