{% extends "index.html" %}


{% block sidebar %}

	{% if request.user.is_authenticated %}
		<div style="height:50px;" name="login_div">
		{{request.user.username}}

		</div>


	{% endif %}


{% endblock %}	

{% block content%}

<form method="POST" action="../save_zanyatie_ypr/">
	{% csrf_token %}
	<table>
		<tr>
			<td>Занятие №</td>
			<td><input type="text" name="zanyatie" value= "{{zanyatie.id}}" readonly /></td>
		</tr>		

		<tr>
			<td hidden >Упражнение №</td>
			<td hidden ><input type="text" name="ypraznenie" value="{{ypraznenie.id}}" readonly  /></td>
		</tr>
		<tr></tr>
		<tr>
			<td>Упражнение Тип</td>
			<td>
				{% if ypraznenie.vid_treni %}
					<input type="text" name="tip" value="{{ypraznenie.vid_treni}}" readonly  />
				{% else %}
					<select name="tip">
					{%for tip in vid_treni_list %}
						<option value="{{tip.name}}" > {{tip.name}}</option>
					{% endfor %}
					</select>
				{% endif%}					

			</td>
		</tr>

		<tr>
			<td>Упражнение Вид</td>
			<td>
				{% if ypraznenie.vid_podhoda %}
					<input type="text" name="vid" value="{{ypraznenie.vid_podhoda}}" readonly  />
				{% else %}				
					<select name="vid">
						{%for vid in vid_podhoda_list %}
							<option value="{{vid.name}}" > {{vid.name}}</option>
						{% endfor %}
					</select>
				{% endif%}		
			</td>
		</tr>
	</table>
	<br>
	<table>
		{%for pp in podhodi_list %}
		 
		<tr>
			<td>Подход № -1 Вес и повторения</td>

				{% if pp %}	
					<td><input type="text" name="podhod-{{pp.pp_podhoda}}-ves" value="{{pp.ves}}" />
				{% else %}						
					<td><input type="text" name="podhod-{{pp.pp_podhoda}}-ves"/></td>
				{% endif%}

				{% if pp %}	
					<td><input type="text" name="podhod-{{pp.pp_podhoda}}-raz" value="{{pp.povtoreniya}}" />
				{% else %}						
					<td><input type="text" name="podhod-{{pp.pp_podhoda}}-raz" /></td>
				{% endif%}						

		</tr>



		{% endfor %}


	</table>
	<br>
	<input type="submit" value="Сохранить"/>
</form>
<br>
<br>


<form method="POST" action="/zanyatiya/get/{{zanyatie.id}}/">
	{% csrf_token %}
	<input type="submit" value="Вернуться к редактированию занятия"/>
</form>
{% endblock %}