{% extends "index.html" %}


{% block sidebar %}
	<script type="text/javascript" src="/my_admin/jsi18n/"></script>
	<script type="text/javascript" src="/media/admin/js/core.js"></script>

	<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css"/>
	<link rel="stylesheet" type="text/css" href="/media/admin/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="/media/admin/css/global.css"/>
	<link rel="stylesheet" type="text/css" href="/media/admin/css/widgets.css"/>
		<h1>
			{{name_user.user}}
		  <p> Занятие № {{item_id}} </p>

		</h1>	

		<p> Дата занятия {{zanyatie.date}}</p>
		<br>
		<br>
		<br>
		<form method="POST" action="/zanyatiya/change_date/">

			<p>Изменить дату занятия на:</p>
			{% csrf_token %}
				{{change_date_form}}
				<input type="text" name="zanyatie_id" value="{{zanyatie.id}}" hidden/>
				<input type="submit" value="Редактировать дату занятия"/>
		</form>

{% endblock %}	

{% block content%}




	{% for ypr in yprazneniya_list %}
		<div>	
			<tr >
				<p><a href="/ypraznenie/get/{{ypr.id}}">{{ypr.pp_yprazneniya}}. </a> Вид упражнения: {{ypr.vid_treni}}. Тип упражнения: {{ypr.vid_podhoda}} <a href="/add_ypraznenie_delete/{{ypr.id}}"> Удалить Упражнение </a> </p>		
			</tr>

				<table  class="table" border="1">
					<tr>
						<td  style="font-weight:bold" > № Подход</td>

							{% for podhod in zanyatie_list %}

								{%if ypr == podhod.ypraznenie %}
											
									<td>{{podhod.pp_podhoda}}</td>
									
								{% endif%}
								
							{% empty %}
								<td>Подходов нет</td>
							{% endfor%}
					</tr>
					<tr>
						<td  style="font-weight:bold" > № Вес</td>	
							{% for podhod in zanyatie_list %}
	
								{%if ypr == podhod.ypraznenie %}

										<td>{{podhod.ves}}</td>			
									
								{% endif%}
									
						
							{% empty %}
								<td>Подходов нет</td>
							{% endfor%}
					</tr>

					<tr>
						<td  style="font-weight:bold" > Повторения</td>	
							{% for podhod in zanyatie_list %}
	
								{%if ypr == podhod.ypraznenie %}
					
									<td>{{podhod.povtoreniya}}</td>
									
								{% endif%}
										
							{% empty %}
								<td>Подходов нет</td>
							{% endfor%}
					</tr>
			</table>



	{% empty %}
		<p>Упражнений нет</p>
	{% endfor%}
	

<form method="POST" action="/add_ypraznenie/">

	<p>Добавить упражнение</p>
	{% csrf_token %}
	<table>
		<tr hidden>
			<td>Занятие №</td>
			<td><input type="text" name="zanyatie" value="{{item_id}}" readonly /></td>
		</tr>	

		<tr >
			<td>Упражнение №</td>
			<td>
				{% if next_pp %}	
					<input type="text" name="pp" value="{{next_pp.name}}" readonly />
				{% else %}						
					<input type="text" name="pp" value="Первое упражнение" readonly/>
				{% endif%}

			</td>
		</tr>

		<tr>
			<td>Упражнение Тип</td>
			<td>
				<select name="tip">
				{%for tip in vid_treni_list %}
					<option value="{{tip.name}}" > {{tip.name}}</option>
				{% endfor %}
				</select>

			</td>
		</tr>

		<tr>
			<td>Упражнение Вид</td>
			<td>
				<select name="vid">
				{%for vid in vid_podhoda_list %}
					<option value="{{vid.name}}" > {{vid.name}}</option>
				{% endfor %}
				</select>

			</td>
		</tr>



	</table>
	<input type="submit" value="Добавить упражнение"/>
</form>


{% endblock %}